*{
margin:0%;
padding:0%;
box-sizing: border-box;
}
html,body{
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
background-color: cornsilk;
}
#card{
width: 250px;
height: 350px;
background-color: white;


}
#card img{

    width: 200px;
    height: 200px;
    margin-top: 50px;
    object-fit: cover;
    border-radius: 50%;
    object-position: center;
}
