*{
margin:0%;
padding:0%;
box-sizing: border-box;
}
html,body{
width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
background-color: bisque;
}
p{
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
}

h1{
  font-size: 100px;  
   text-align: center;
}

.buttons{
    
    display: flex;
    gap: 100px;
}

#inc{
    font-size: 50px;
    border-radius: 25%;
    
}

#reset{
    font-size: 50px;
    border-radius: 25%;
}

#decr{
    font-size: 50px;
    border-radius: 25%;
}